* {
    margin: 0;
}
.right {
    float: right;
}
.bold {
    font-weight: bold;
}
body, html {
    height: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
h1 {
    font-size: 18px;
    font-weight: 700;
    color: #3e3f3f;
}
h4 {
    font-size: 14px;
    font-weight: 600;
    color: #3e3f3f;
}
.striped {
    background: url('../../images/payroll/stripe_12fcb4a93fe3394155faaf07e38d08bb.png');
}

/**
 * LAYOUTS
 */
.frameLayout {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#action-layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px 0 55px 0;
}
/**
 * SECTIONS
 */
#main-layout #west {
    height: 100%;
    float: left;
}
#main-layout #north {
    overflow: hidden;
}
#main-layout #center {
    overflow: hidden;
}
#action-layout #middle {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: 0;
    padding: 0;
    overflow: scroll;
    background: white;
}
#action-layout #left-wrapper {
    height: 100%;
    width: 50%;
    float: left;
}
#action-layout #left {
    margin: 20px 40px;
}
#action-layout #right {
    height: 100%;
    width: 50%;
    float: right;
}

/**
 * INSIGHT
 **/
#insight {
    background-color: #f7fafc;
    padding: 10px 0 60px 0;
}
#insight img {
    display: inline-block;
    vertical-align: middle;
}
#insight #call-to-action {
    display: inline-block;
    vertical-align: middle;
    height: 204px;
    overflow: hidden;
    border-left: 1px solid #d3d8e0;
}
#insight #call-to-action button {
    margin-top: 45%;
    margin-left: 40px;
}

/**
 * TITLE
 **/
h1#title {
    display: block;
    margin: 0;
    padding: 10px 30px;
    background-color: #f7fafc;
}
/**
 * MAIN MENU
 */
#mainMenu {
    height: 22px;
    padding: 9px 0;
    background-color: #ebf0f6;
}
#mainMenu .menuItem {
    margin-right: 20px;
}

/**
 * ACTION BAR
 */
#action-bar {
    height: 38px;
    background-color: #6d8ba8;
}
#action-bar #title {
    color: white;
    padding: 10px;
}

/**
 * TWO Column FORM
 */
#action-layout form {
    margin-top: 20px;
}
#action-layout form .accordion-group {
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    border-bottom: 1px solid lightgray;
}
.accordion-group.collapse.in {
    padding-bottom: 20px;
}
#action-layout form .accordion-heading {
}
#action-layout form .accordion-group .info {
    display: block;
    padding: 0 25px 20px;
}
#action-layout form .accordion-heading .form_help {
    float: right;
    margin: 15px 20px 0 0;
}
#action-layout form .accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
}
#action-layout form .accordion-heading .accordion-toggle h4 {
    padding: 0 20px;
}
#action-layout form .accordion-heading .accordion-toggle h4.arrow-down {
    background: url("../../images/payroll/arrow-down.png") no-repeat top left;
}
#action-layout form .accordion-heading .accordion-toggle h4.arrow-right {
    background: url("../../images/payroll/arrow-right.png") no-repeat top left;
}
#action-layout form .accordion-heading .accordion-toggle h4 small {
    font-style: italic;
    margin-left: 5px;
}

/**
 * VERTICAL NAVIGATION
 */
#nav {
    width: 212px;
    height: 100%;
    background: #192f48;
    border-right: 4px solid #132436;
}
#nav div#app-title {
    color: #8696a2;
    padding: 11px 10px 11px 77px;
    background: url("../../images/payroll/nav-logo-intuit.png") no-repeat 11px 9px;
    font-size: 18px;
}
#nav ul {
    margin: 0;
    padding: 0;
}
#nav ul li {
    cursor: pointer;
    color: white;
    padding: 15px 10px 15px 60px;
}
#nav ul li.selected {
    background-color: #1899cd;
}
#nav ul li.employees {
    background-image: url('../../images/payroll/employee-icon.png');
    background-repeat: no-repeat;
    background-position: 20px 12px;
}
#nav ul li.paychecks {
    background-image: url('../../images/payroll/paychecks-icon.png');
    background-repeat: no-repeat;
    background-position: 20px 12px;
}
#nav ul li.taxes {
    background-image: url('../../images/payroll/taxes-icon.png');
    background-repeat: no-repeat;
    background-position: 20px 12px;
}

/**
 * DATA SECTION - typically with a table
 */
#data table {
    width: 100%;
}
#data table th,td {
    text-align: left;
    padding: 10px 20px;
}
#data table th {
    background-color: #e4e9f4;
    color: #8faabf;
    text-transform: capitalize;
    font-variant: small-caps;
    border-right: 1px dotted;
}
#data table th:last-child {
    border-right: 0;
}
#data table td {
    border-bottom: 1px solid #d3d8e0;
}

/**
 * SAMPLE CHECK
 */
#sample-check-wrapper {
    width: 514px;
    margin: 0 auto;
}
#sample-check-footer {
    position: relative;
    z-index: 2;
    border-left: 7px solid white;
    border-bottom: 7px solid white;
    height: 47px;
    background-color: #f2f6fb;
    margin: 0 0 20px 0;
    width: 454px;
}
#sample-check-footer:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -7px;
    right: 0px;
    bottom: -7px;
    border: 1px solid lightgray;
    border-top: none;
    border-right: none;
}
#sample-check-footer img {
    float: right;
    margin-right: -54px;
}
#sample-check-body {
    position: relative;
    background: #f2f6fb url('../../images/SampleCheck.png') no-repeat 50% 10px;
    margin: 20px auto 0 auto;
    height: 564px;
    border: 7px solid white;
    border-bottom: none;
    z-index: 2;
}
#sample-check-body:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: 0px;
    border: 1px solid lightgrey;
    border-bottom: none;
}
#corner {
    margin-left: -3px;
}
#address {
    min-height: 36px;
    margin: 30px;
}
#address span {
    line-height: 12px;
    font-size: 11px;
    display: block;
}
#details {
    margin: 38px 52px 88px 30px;
}
#details span.desc {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #6d8ba7;
    margin-right: 12px;
}
#details span#recipient {
    font-size: 22px;
}
#details span#amount {
    float: right;
    font-family: "Adobe Garamond Pro","Times new Roman","Times",Georgia,Serif;
    font-weight: lighter;
    font-size: 30px;
    font-style: italic;
}
#itemization {
    overflow: hidden;
}
#itemization table {
    width: 100%;
    margin: 20px 0 10px 22px;
    font-size: 12px;
    text-align: left;
}
#itemization table .first {
    padding: 4px 0 4px 10px;
}
#itemization table th {
    color: #6d8ba7;
    text-transform: uppercase;
}
#itemization th, #itemization td {
    padding: 0px;
    text-align: left;
    line-height: 12px;
}
#itemization table.total {
    font-weight: bold;
    text-transform: uppercase;
}

/**
 * SIGN UP MODAL
 */
#signupModal .modal-content {
    width: 860px;
    height: 310px;
}
#signupModal .modal-right-col {
    padding: 20px;
    width: 260px;
}
#signupModal .modal-right-col ul li {
    border: 0;
    margin: 5px 0;
}
#signupModal .modal-right-col ul li img {
    display: block;
    float: left;
}
#signupModal .modal-right-col ul li span {
    display: block;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    line-height: 18px;
    padding: 0 0 0 55px;
}
#signupModal form div.controls {
    text-align: left;
}
#signupModal form {
    margin-bottom: 35px;
}